{% extends 'base.html' %}
{% load static %}

{% block main %}

    <main role="main" class="container">

        <div class="card">
            <h2 style="color: var(--primary)">New meter</h2>
            <form action="{% url 'utilities:add_meter' %}" method="post">
                {% csrf_token %}
                <table class="table">
                    {{ form.as_table }}
                </table>
                <button type="submit" class="btn btn-primary">Add meter</button>
            </form>
		</div>
    </main>

{% endblock %}
