{% extends 'base.html' %}

{% block main %}

    <main role="main" class="container">

		<div class="card">
			<table class="table table-hover">
				<thead>
					<th></th>
					<th>Meter name</th>
					<th>Unit</th>
				</thead>
				<tbody>
					{% for m in object_list %}
                    <tr>
					    <td>{{ m.pk }}.</td>
					    <td>{{ m.meter_name }}</td>
					    <td>{{ m.meter_unit }}</td>
                    </tr>
					{% empty %}
                    <tr>
					    <td colspan=3>No meters yet</td>
					{% endfor %}
                    </tr>
				</tbody>
			</table>
		</div>

		{% if perms.utilities.add_meter %}
			{% include 'utilities/snippets/add_meter_modal.html' %}
		{% endif %}

    </main>

{% endblock %}
