{% extends 'base.html' %}
{% load static %}

{% block main %}

    <main role="main" class="container">

		<div class="card">
            <div class="row">
                <div class="col">
                    <div class="btn-group" role="group">
                        <a href="{% url 'utilities:reading_list' %}?m_id=-1" class="btn btn-secondary" id="meter_all">All</a>
                        {% for m in meters %}
                            <a href="{% url 'utilities:reading_list' %}?m_id={{ m.id }}" class="btn btn-secondary" id="meter_{{m.id}}">{{ m.meter_name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
			<table class="table table-hover">
				<thead>
					<th></th>
                    <th>Date</th>
					<th>Meter name</th>
                    <th>Reading</th>
					<th>Unit</th>
                    <th></th>
				</thead>
				<tbody>
					{% for r in object_list %}
          <tr>
					    <td>{{ r.pk }}.</td>
                        <td>{{ r.date }}</td>
					    <td>{{ r.meter.meter_name }}</td>
                        <td>{{ r.reading }}</td>
					    <td>{{ r.meter.meter_unit }}</td>
                        <td>
                            {% if perms.utilities.delete_reading %}
                              <a onclick="deletereading({{ r.pk }})"><img src="{% static 'open-iconic-master/svg/trash.svg' %}" style="width:1em"</a>
                            {% endif %}
                            {% if perms.utilities.change_reading %}
                              <a onclick="edit_reading({{ r.pk }}, {{r.meter_id}}, '{{r.date | date:"Y-m-d"}}', {{r.reading}}, '{{r.remark}}')"><img src="{% static 'open-iconic-master/svg/wrench.svg' %}" style="width:1em"</a>
                            {% endif %}
                        </td>
          </tr>
					{% empty %}
                    <tr>
					    <td colspan=4>No readings yet</td>
					{% endfor %}
                    </tr>
				</tbody>
			</table>
		</div>

        {% include 'utilities/snippets/add_reading_model.html' %}
        {% include 'utilities/snippets/delete_reading_modal.html' %}
        {% include 'utilities/snippets/edit_reading_modal.html' %}

    </main>

{% endblock %}

{% block script %}
        <script>
            {% if request.session and request.session.show_meter %}
                var active_meter = {{ request.session.show_meter }};
                $('#meter_' + active_meter ).removeClass('btn-secondary').addClass('btn-primary');
            {% else %}
                $('#meter_all').removeClass('btn-secondary').addClass('btn-primary');
            {% endif %}
        </script>
{% endblock %}
