{% extends 'base.html' %}

{% block main %}

    <main role="main" class="container">


      <div class="jumbotron">
        <h1>Welcome to home dasboard</h1>
        <p class="lead">Giving you an overview on what's going on.<br/>
        Version: {{version}}</p>
      </div>

      <div class="card">
        <div class="row">
            <div class="col">
                <h3>Utilities</h3>
            </div>
            <div class="col">
                <a href="{% url 'utilities:meter_list' %}" class="btn btn-primary">Meter</a>
            </div>
            <div class="col">
                <a href="{% url 'utilities:reading_list' %}" class="btn btn-primary">Readings</a>
            </div>
            <div class="col">
                <a href="{% url 'utilities:usage_list' %}" class="btn btn-primary">Usages</a>
            </div>
        </div>
      </div>

    </main>

{% endblock %}
