<!-- Modal -->
<div class="modal fade" id="deleteReadingModal" tabindex="-1" role="dialog" aria-labelledby="deleteReadingModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteReadingModalLabel">Delete reading</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  <form action="{% url 'utilities:delete_reading' %}" method='post'>
	  {% csrf_token %}
      <div class="modal-body">
        <p>Are you sure?</p>
        <input type="hidden" name="reading_id" id="deletereadinginputid"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-danger">Delete</button>
      </div>
	  </form>
    </div>
  </div>
</div>


<script>
var deletereading = function(id){
  $('#deletereadinginputid').val(id);
  $('#deleteReadingModal').modal();
};
</script>
